{% extends '::squelette.html.twig' %}

{% block jeu %}
    {% if table.etat == "en attente d'autre joueur" %}
        <div class="partie_en_attente container">
            <h1>Partie {{ table.id }}</h1>

            <div class="row">
                <h3>{{ joueur.email }}</h3>
            </div>
            <div class="row">
                {% for joueur in listJoueur %}
                    <div class="row">
                        <h4>Joueur : {{ joueur.email }}</h4>
                    </div>
                {% endfor %}
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                {% if listJoueur|length >= 0 %}
                    <a id="lancerPartie" type="button" class="btn btn-primary" href="{{ path('jeu_lancerPartie', {'id' : table.id}) }}">Lancer partie !</a>
                {% else %}
                    <a id="lancerPartie" type="button" class="btn btn-primary" disabled=true>En attente de joueur</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        {#On place les autres joueurs en haut de l'écran#}
        <div class="autres_joueurs">
            {% for joueur in listJoueur %}
                <div class="autre_joueur">
                    {% if  joueur.ordreDePassage  == table.aQuiLeTour %}
                        <h4 style="color:green">Joueur : {{ joueur.email }}</h4>
                        <p>Points : {{ joueur.score }}</p>
                    {% else %}
                        <h4>Joueur : {{ joueur.email }}</h4>
                        <p>Points : {{ joueur.score }}</p>
                    {% endif %}
                    <div class="carte_autre_joueur">
                    {% for carte in carteJouee %}
                        {% if  carte.proprietaire.id  == joueur.id %}
                            <img src="{{ asset('skin_cartes/') }}{{ carte.carte.img }}">
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="tapis">
            <span class="carte_visible">
                    {% for carte in carteTable %}
                        <div class="carte_table">
                            <img src="{{ asset('skin_cartes/') }}{{ carte.carte.img }}">
                        </div>
                    {% endfor %}
            </span>

        </div>
        {#On place les cartes dans notre main (en bas de l'écran)#}
        <div class="main_joueur">
            {% if  joueur.ordreDePassage  == table.aQuiLeTour %}
                {% for carte in carteEnMain %}
                    <div class="carte_joueur">
                        <a href="{{ path('jeu_jouer', {'id_table' : table.id, 'id_carte' : carte.id}) }}">
                            <img src="{{ asset('skin_cartes/') }}{{ carte.carte.img }}">
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                {% for carte in carteEnMain %}
                    <div class="carte_joueur">
                        <img src="{{ asset('skin_cartes/') }}{{ carte.carte.img }}">
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    {#<script type="text/javascript">
        var interval = 10000;
        function load() {
            setTimeout(function () {
                $.ajax({
                    url: "{{ path('jeu_refreshPartie') }}",
                    method: "post",
                    complete: load,
                    data: "id=" + {{ table.id }}
                }).done(function (msg) {
                    window.location.reload();
                });
            }, interval);
        }
        load();
    </script>#}

{% endblock %}