{% extends '::squelette.html.twig' %}

{% block jeu %}
    {% if table.etat == "en attente d'autre joueur" %}
        <div class="partie_en_attente container">
            <h1>Partie {{ table.id }}</h1>

            <div class="row">
                <h3>{{ joueur.email }}</h3>
            </div>
            <div class="row">
                {% for joueur in listJoueur %}
                    <div class="row">
                        <h4>Joueur : {{ joueur.email }}</h4>
                    </div>
                {% endfor %}
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                {% if listJoueur|length >= 0 %}
                    <a id="lancerPartie" type="button" class="btn btn-primary" href="{{ path('jeu_lancerPartie', {'id' : table.id}) }}">Lancer partie !</a>
                {% else %}
                    <a id="lancerPartie" type="button" class="btn btn-primary" disabled=true>En attente de joueur</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        {#On place les cartes dans notre main (en bas de l'écran)#}
        <div class="main_joueur">
            {% for carte in carteEnMain %}
                <img src="{{ asset('skin_cartes/') }}{{ carte.carte.img }}">
            {% endfor %}
        </div>
    {% endif %}

    {#<script type="text/javascript">
        var interval = 10000;
        function load() {
            setTimeout(function () {
                $.ajax({
                    url: "{{ path('jeu_refreshPartie') }}",
                    method: "post",
                    complete: load,
                    data: "id=" + {{ table.id }}
                }).done(function (msg) {
                    window.location.reload();
                });
            }, interval);
        }
        load();
    </script>#}

{% endblock %}