{% extends '::squelette.html.twig' %}

{% block jeu %}
    <h1>Partie {{ table.id }} !</h1>
    <h2>Etat : {{ table.etat }}</h2>

    <ul>
        {% for pioche in listCarte %}
            <li>{{ pioche.carte.nom }} : {{ pioche.carte.point }}</li>
        {% endfor %}
    </ul>

    {% for joueur in joueur %}
        <h2>Joueur : {{ joueur.email }} Score : {{ joueur.score }} </h2>
    {% endfor %}

{% endblock %}