{% extends '::squelette.html.twig' %}

{% block jeu %}



    {% if table.etat == "en attente d'autre joueur" %}
        <div class="partie_en_attente container">
            <h1>Partie {{ table.id }}</h1>

            <div class="row">
                <h3>{{ joueur.email }}</h3>
            </div>
            <div class="row">
                {% for joueur in listJoueur %}
                    <div class="row">
                        <h4>Joueur : {{ joueur.email }}</h4>
                    </div>
                {% endfor %}
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                {% if listJoueur|length >= 1 %}
                    <a id="lancerPartie" type="button" class="btn btn-primary" href="{{ path('jeu_lancerPartie', {'id' : table.id}) }}">Lancer partie !</a>
                {% else %}
                    <a id="lancerPartie" type="button" class="btn btn-primary" disabled=true>En attente de joueur</a>
                {% endif %}
            </div>
        </div>
        <script>
            var interval = 3000;
            setTimeout(function () {
                window.location.reload();
            },interval);
        </script>
    {% else %}
        {#Message d'information (aquiletour, Effet) #}
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
        {#On place les autres joueurs en haut de l'écran#}
        <div class="autres_joueurs">
            {% for joueur in listJoueur %}
                <div class="autre_joueur">
                    {% if  joueur.ordreDePassage  == table.aQuiLeTour %}
                        <h4 style="color:green">Joueur : {{ joueur.email }}</h4>
                        <p>Points : {{ joueur.score }}</p>
                    {% else %}
                        <h4>Joueur : {{ joueur.email }}</h4>
                        <p>Points : {{ joueur.score }}</p>
                    {% endif %}
                    <div class="carte_autre_joueur">
                    {% set foo = -20 %}
                    {% for carte in carteJouee %}
                        {% if  carte.proprietaire.id  == joueur.id %}
                            <img src="{{ asset('skin_cartes/') }}{{ carte.carte.img }}" style = "right: {{ foo }}px">
                            {% set foo = foo + 20 %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="tapis">
            <span class="carte_visible">
                    {% for carte in carteTable %}
                        <div class="carte_table">
                            <img src="{{ asset('skin_cartes/') }}{{ carte.carte.img }}">
                        </div>
                    {% endfor %}
                    {% for carte in carteJouee %}
                        {% if  carte.proprietaire.id  == joueur.id %}
                            <div class="carte_table">
                                <img src="{{ asset('skin_cartes/') }}{{ carte.carte.img }}">
                            </div>
                        {% endif %}
                    {% endfor %}

            </span>

        </div>
        {#On place les cartes dans notre main (en bas de l'écran)#}
        <div class="main_joueur">
            {% if  joueur.ordreDePassage  == table.aQuiLeTour %}
                {% for carte in carteEnMain %}
                    <div class="carte_joueur">
                        <a href="{{ path('jeu_jouer', {'id_table' : table.id, 'id_carte' : carte.id}) }}">
                            <img src="{{ asset('skin_cartes/') }}{{ carte.carte.img }}">
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                {% for carte in carteEnMain %}
                    <div class="carte_joueur">
                        <img src="{{ asset('skin_cartes/') }}{{ carte.carte.img }}">
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% if  joueur.ordreDePassage  != table.aQuiLeTour %}
            <script>
                var interval = 3000;
                setTimeout(function () {
                    window.location.reload();
                },interval);
            </script>
        {% else %}
            {% if effet is defined %}
                <script type="text/javascript">
                    $(window).on('load',function(){
                        $('.modal').modal('show');
                    });
                </script>
                {% include 'modal.html.twig' %}
            {% endif %}
    {% endif %}
    <script>
        window.setTimeout(function() {
        $(".alert-success").fadeTo(1500, 0).slideUp(500, function(){
        $(this).remove();
        });
        }, 3000);
    </script>
    {% endif %}
{% endblock %}