
{% extends '::squelette.html.twig' %}

{% block accueil %}
    <div class="row">
        {#Message d'information (aquiletour, Effet) #}
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class=" bienvenue container">
        <div class="row">
            <h1>Bienvenue sur love letter</h1>
        </div>

        <div class="row">
            <a title="Creer une partie" class="btn btn-primary btn-lg btn-block" href="{{ path('jeu_creerPartie') }}">Creer une partie</a>
        </div>
        <br>
        <br>
        <div class="row">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.idtable, "ID de la partie à rejoindre:") }}
                {{ form_widget(form.idtable, {'attr': {'class': 'form-control', 'placeholder': 'Laissez vide pour partie aléatoire'} }) }}
            </div>
        </div>
        <div class="row">
            {{ form_widget(form.submit, {'label' : 'Rejoindre une partie', 'attr': {'class': 'btn btn-primary btn-lg btn-block' } }) }}
        </div>

        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>

{% endblock %}



