
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Bienvenu sur love letter</title>
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('jeu_accueil') }}">Love Letter EXTREME</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Connecté en tant que {{ app.user.username }}</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                </ul>
            {% else %}
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('fos_user_security_login') }}">Love Letter EXTREME</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            {% endif %}

        </div>
    </nav>
    {% block body %}

    {% endblock %}

    {% block accueil %}

    {% endblock %}

    {% block jeu %}

    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</body>
</html>
